providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/mgr/Bakery/OF_098/apps/myApps/MiniSeq37"
          source: "/home/mgr/Bakery/OF_098/apps/myApps/MiniSeq37/.build-tools.cson"
          name: "make"
          command: "make -j4 "
          wd: "."
          env: {}
          modifier:
            save_all: {}
            shell:
              command: "bash -c"
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: [
              {
                name: "profile"
                config:
                  profile: "gcc_clang"
              }
            ]
          stderr:
            pipeline: [
              {
                name: "profile"
                config:
                  profile: "gcc_clang"
              }
            ]
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: true
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "/home/mgr/Bakery/OF_098/apps/myApps/MiniSeq37"
          source: "/home/mgr/Bakery/OF_098/apps/myApps/MiniSeq37/.build-tools.cson"
          name: "run"
          command: "./bin/MiniSeq37"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: true
          version: 2
        }
      ]
  }
]
